<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            
            <td>month</td>
            <td>date</td>
            <td>Event</td>
            
         </thead>
         
         {% for row in holidays %}
            <tr>
               
               <td>{{row["month"]}}</td>
               <td>{{row["date"]}}</td>
               <td> {{ row["event"]}}</td>
             
            </tr>
         {% endfor %}
      </table>
     
     
      <H1> List of all Students </H1>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Addess</td>
            <td>City</td>
            
         </thead>
         
         {% for row in All_Students %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["address"]}}</td>
               <td> {{ row["city"]}}</td>
             
            </tr>
         {% endfor %}
      </table>


      <H1> Exam Schedule </H1>
      <table border = 1>
         <thead>
            <td>Course</td>
            <td>Branch</td>
            <td>Semester</td>
            <td>Date</td>
            <td>Sub_code</td>
            <td>Subject</td>
            
         </thead>
         
         {% for row in schedule %}
            <tr>
               <td>{{row["course"]}}</td>
                <td>{{row["branch"]}}</td>
               <td>{{row["semester"]}}</td>
               <td> {{ row["date"]}}</td>
               <td> {{ row["sub_code"]}}</td>
               <td> {{ row["subject"]}}</td>

             
            </tr>
         {% endfor %}
      </table>
    
   </body>
</html>
